@import 'src/sass/base/variables';
@import 'base/animations';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/_promo.scss';
@import 'blocks/_header.scss';
@import 'blocks/buttons.scss';
@import 'blocks/advantages.scss';
@import 'blocks/titles.scss';
@import 'blocks/consultation.scss';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/_feed';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/media';
@import 'blocks/pageup';
